body 
{
    background-color: white;
    color: #3f373c;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

table 
{
    border: 2px;
    border-color: solid #3f373c;
}


.menu
{
color:grey;

}

a:link
{
    color: blue;
}

a.visited 
{
    color: white;
}

a:hover
{
    color: slategray;
    font-style: oblique;
    text-decoration: dotted;
}

a:active
{
    color:brown;
    font-style: italic;
}