body 
{
    background-color: #f2efe8;
    color: #3f373c;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

table 
{
    border: 2px;
    border-color: solid #3f373c;
}