header{
    color:#708090;
    text-align: right;
}
a {
    text-decoration: none;
    color: #8a9ea0;
}

a:hover {
    color:#c0c2c9;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


th, td {
    border:1px solid;
    padding: 10px 10px;
    text-align: center;
}

td {
    text-align: justify;
    word-wrap: break-word;
}

section {
    width: 150px;
   word-wrap: break-word;
}

caption {
    display: center;
    font-size: large;
    font-family: calibri;
}


.sidenavbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #708090;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  
  .sidenavbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #c0c2c9;
    display: block;
    transition: 0.1s;
  }
  
  .sidenavbar a:hover {
    color: #fcfaf0;
  }
  
  .sidenavbar .closebutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }


